<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>uuster</strong> by <a href="https://github.com/rovaniemi/">Mauri Karlin</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>
                <a href="https://github.com/rovaniemi/uuster" target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
            </p>
        </div>
    </div>
    <script src="/assets/js/nav.js"></script>
</footer>