<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Bulma" />
        </a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" href="/news/create" sec:authorize="hasRole('ROLE_JOURNALIST')">
            Create article
        </a>
        <a class="navbar-item" href="/profile/" sec:authorize="isAuthenticated()">
            Profile
        </a>
        <a class="navbar-item" href="/signup" sec:authorize="isAnonymous()">
            Sign Up
        </a>
        <a class="navbar-item" href="/login" sec:authorize="isAnonymous()">
            Sign In
        </a>
        <a class="navbar-item" href="/logout" sec:authorize="isAuthenticated()">
            Sign Out
        </a>
    </div>
</nav>

