<html lang="en"
      class="has-navbar-fixed-top"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head :: head"></th:block>
<body class="Site">
<section class="section">
    <div class="container">
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </div>
</section>
<main class="Site-content">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form action="/news/{id}/edit" th:action="'/news/' + ${article.id} + '/edit'" th:object="${articleEdit}" method="POST" enctype="multipart/form-data">
                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Title" name="title" id="title" th:value="${article.title}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Lead</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="lead" name="lead" id="lead" th:text="${article.lead}"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Text</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea" name="text" id="text" th:text="${article.text}"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Tags</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="separate tags with a comma" name="tags" id="tags" th:value="${tags}">
                        </div>
                    </div>
                    <div class="file has-name is-fullwidth" style="margin-bottom: 10px;">
                        <label class="file-label">
                            <input class="file-input" type="file" accept="image/*" name="file" id="file">
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a image...
                            </span>
                            </span>
                            <span class="file-name">
                                <span id="filename">No file chosen</span>
                            </span>
                        </label>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
<script src="/assets/js/file.js"></script>
</html>