<html lang="en"
      class="has-navbar-fixed-top"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head :: head"></th:block>
<body class="Site">
<section class="section no-padding">
    <div class="container">
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </div>
</section>
<main class="Site-content">
    <div class="columns">
        <div class="column column is-6 is-offset-1">
        <div class="column">
            <section class="hero is-primary is-small promo-block">
            <div class="hero-body" style="padding-top: 0.25rem; padding-bottom: 0.25rem;">
            <div class="container" style="margin: 1rem;">
                <h1 class="title" th:text="${tag}">
                    Tag</h1>
                </div>
            </div>
        </section>
        </div>
        <div class="column" th:each="article : ${news}">
            <div class="card article">
                <form th:action="'/news/' + ${article.id} + '/delete/'" method="POST" sec:authorize="hasRole('ROLE_JOURNALIST')">
                    <button class="delete right-top"></button>
                </form>
                <form th:action="'/news/' + ${article.id} + '/edit/'" method="GET" sec:authorize="hasRole('ROLE_JOURNALIST')">
                    <button class="button is-small right-top" style="right: 60px;top: 14px;">Edit</button>
                </form>
                <div class="card-content">
                    <div class="media">
                        <div class="media-center" th:if="${article.authors[0]?.picture}">
                            <img th:src="'/images/profilepicture/' + ${article.authors[0].picture.id}" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-center" th:unless="${article.authors[0]?.picture}">
                            <img src="/assets/pic/default.png" class="author-image" alt="Placeholder image">
                        </div>
                    </div>
                    <figure class="image is-16by9">
                        <img th:src="'/images/newspicture/' + ${article.pictures[0].id}">
                    </figure>
                    <div class="column">
                    </div>
                    <div class = "columns">
                        <div class="column">
                            <div class="field is-grouped is-grouped-multiline" >
                                <div class="control" th:each="tag : ${article.tags}">
                                    <div class="tags has-addons">
                                        <a class="tag is-link" th:text="${tag.name}" th:href="@{/(tag=${tag.name})}">tag</a>
                                    </div>
                                </div>
                            </div>
                            <div class="article-link-and-title">
                            <p class="title article-title" th:text="${article.title}">Title</p>
                            <h3 class="has-text-justified lead-bottom" th:text="${article.lead}">lead</h3>
                            <div class="article-link-time">
                                <a class="article-link" th:href="'/news/' + ${article.id}">read more...</a>
                                <p class="article-time" th:text="${#temporals.format(article.time, 'dd-MM-yyyy HH:mm')}">date</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="column">
                <nav class="pagination is-small" role="navigation" aria-label="pagination">
                    <p class="pagination-previous" th:if="${page} eq 1">Previous</p>
                    <a class="pagination-previous" th:unless="${page} eq 1" th:href="@{/(page=${page - 1},tag=${tag})}">Previous</a>
                    <p class="pagination-next" th:if="${page * 5} gt ${#lists.size(news)}">Next page</p>
                    <a class="pagination-next" th:unless="${page * 5} gt ${#lists.size(news)}" th:href="@{/(page=${page + 1}, tag=${tag})}">Next page</a>
                    <ul class="pagination-list">
                        <li>
                            <a class="pagination-link is-current" aria-label="Page" aria-current="page" th:text="${page}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="column is-4">
            <div class="column">
                <section class="hero is-primary is-small promo-block">
                    <div class="hero-body" style="padding-top: 0.25rem; padding-bottom: 0.25rem;">
                        <div class="container" style="margin: 1rem;">
                            <h1 class="title">Week's most popular</h1>
                        </div>
                    </div>
                </section>
            </div>
            <div class="column">
                <div class="card article">
                    <div class="card-table">
                        <div class="content">
                            <table class="table is-fullwidth is-striped">
                                <tbody>
                                <tr th:each="top_article,iterStat : ${top}">
                                    <td width="5%"><a th:href="'/news/' + ${top_article.id}" class="pagination-link is-rounded" th:text="${iterStat.count}">1</a></td>
                                    <td style="padding-top: 10px"><a th:text="${top_article.title}" th:href="'/news/' + ${top_article.id}" style="color:#4a4a4a;"></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>