<html lang="en"
      class="has-navbar-fixed-top"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head :: head"></th:block>
<body class="Site">
<section class="section">
    <div class="container">
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </div>
</section>
<main class="Site-content">
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasAuthority('JOURNALIST')">
        This content is only shown to users.
    </div>
</main>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>