<html lang="en"
      class="has-navbar-fixed-top"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head :: head"></th:block>
<body class="Site">
<section class="section">
    <div class="container">
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </div>
</section>
<main class="Site-content">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            <img th:src="'/images/profilepicture/' + ${article.authors[0].picture.id}" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title" th:text="${article.title}">Title</p>
                            <p class="subtitle is-6 article-subtitle">
                                <a th:href="'/profile/' + ${article.authors[0].username}" th:text="'@' + ${article.authors[0].username}">@</a> <p th:text="${article.time}">date</p>
                            </p>
                        </div>
                    </div>
                    <figure class="image is-16by9">
                        <img th:src="'/newspicture/' + ${article.pictures[0].id}">
                        <img src="http://www.jasondunn.com/images/Cape-Breton-Lighthouse-16-9-HDR.jpg">
                    </figure>
                    <div class="content article-body">

                        <p th:text="${article.text}">text</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>