<html lang="en"
      class="has-navbar-fixed-top"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head :: head"></th:block>
<body class="Site">
<section class="section">
    <div class="container">
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </div>
</section>
<main class="Site-content">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <div class="card article">
                <form th:action="'/news/' + ${article.id} + '/delete/'" method="POST" sec:authorize="hasRole('ROLE_JOURNALIST')">
                    <button class="delete right-top"></button>
                </form>
                <form th:action="'/news/' + ${article.id} + '/edit/'" method="GET" sec:authorize="hasRole('ROLE_JOURNALIST')">
                    <button class="button is-small right-top" style="right: 60px;top: 14px;">Edit</button>
                </form>
                <div class="card-content">
                    <div class="media">
                        <div class="media-center" th:if="${article.authors[0]?.picture}">
                            <img th:src="'/images/profilepicture/' + ${article.authors[0].picture.id}" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-center" th:unless="${article.authors[0]?.picture}">
                            <img src="/assets/pic/default.png" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title" th:text="${article.title}">Title</p>
                            <p class="subtitle is-6 article-subtitle" th:each="user : ${article.authors}">
                                <a th:href="'/profile/' + ${user.username}" th:text="'@' + ${user.username}">@</a>
                            </p>
                            <p class="subtitle is-6 article-subtitle" th:text="${#temporals.format(article.time, 'dd-MM-yyyy HH:mm')}">date</p>
                            <div class="field is-grouped is-grouped-multiline"  style="justify-content:  center;">
                                <div class="control" th:each="tag : ${article.tags}">
                                    <div class="tags has-addons">
                                        <a class="tag is-link" th:text="${tag.name}" th:href="@{/(tag=${tag.name})}">tag</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <figure class="image is-16by9">
                        <img th:src="'/images/newspicture/' + ${article.pictures[0].id}">
                    </figure>
                    <div class="content article-body">

                        <h3 class="has-text-justified lead" th:text="${article.lead}">lead</h3>
                        <p class="has-text-justified" data-th-utext="${#strings.replace(#strings.escapeXml(article.text),'&#10;','&lt;br&gt;')}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>