<html lang="en"
      class="has-navbar-fixed-top"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head :: head"></th:block>
<body class="Site">
<section class="section">
    <div class="container">
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </div>
</section>
<main class="Site-content">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form action="/signup" th:action="@{/signup}" th:object="${signUpForm}" method="POST">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="firstName" id="firstName" placeholder="First Name" th:field="*{firstName}">
                        <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    </p>
                    <p class="help is-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid First Name</p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="lastName" id="lastName" placeholder="Last Name" th:field="*{lastName}">
                        <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    </p>
                    <p class="help is-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid Last Name</p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="username" id="username" placeholder="Username" th:field="*{username}">
                        <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    </p>
                    <p class="help is-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid username</p>
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" name="email" id="email" placeholder="Email" th:field="*{email}">
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa fa-check"></i>
                        </span>
                    </p>
                    <p class="help is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid email</p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="password" id="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </p>
                    <p class="help is-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid password</p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                        <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                    </p>
                    <p class="help is-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Invalid password</p>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>